<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/auth']"
      >Social Media App</a
    >
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/posts']"
            >Posts</a
          >
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated | async)">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/auth']"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!(isAuthenticated | async)">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/auth/signup']"
            >Signup</a
          >
        </li>
        <li class="nav-item" *ngIf="isAuthenticated | async">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout($event)">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
