.row {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 50px;
  position: relative;
}

.d-flex.justify-content-end.align-items-start {
  position: absolute;
  top: 10px;
  right: 0;
}
.card-body hr {
  margin-top: 1rem;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 20px;
}

.btn {
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-primary,
.btn-danger,
.btn-info {
  color: #fff;
}

.btn-primary:hover,
.btn-danger:hover,
.btn-info:hover {
  opacity: 0.9;
}

.btn i {
  margin-right: 0.5em;
}

.card-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-buttons button {
  margin-left: 5px;
}

.comment-form {
  position: relative;
}

.comment-form .btn-group {
  position: absolute;
  left: 0;
  top: 40px;
  margin-top: 20px;
}
.total-comments {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.commentsCount{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
